.homepart{
    background-color: #e9c31b;
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-top: 1rem;
    padding-left: 1rem;
}

.homecomp{
    background-color: chartreuse;
    height: max-height;
    width: max-width;
    font-family: "Helvetica Neue Roman","Arial","san-serif";
    font-weight: normal;
    font-style: normal;
    padding-left: 1rem;
}